#account {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  background: #f1f5f9;
  height: 100%;
  overflow: auto;
}

#account * {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
  color: black;
}
#account .avatar {
  width: 32px;
  height: 32px;
  margin-right: 5px;
}
#account .icon {
  width: 20.8px;
  height: 20.8px;
}

#account > aside {
  padding: 10px 20px;
  /* height: 100vh; */
  overflow-y: auto;
  width: 200px;
  background: white;
}
#account > aside > .profile {
  display: flex;
  align-items: center;
  height: 100px;
}
#account > aside > .profile .profile_ne {
}

#account > aside .side_links > span {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0px;
}
#account > aside .side_links > span * {
  margin-right: 10px;
}
#account > aside .side_links > span b {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
#account .main_container {
  box-sizing: border-box;
  flex: 1;
}
#account .main_container h3 {
  font-size: 17px;
  font-weight: bold;
}
#account .main_container > header {
  box-sizing: border-box;
  background: white;
  padding: 10px;
  height: 120px;
}
#account .main_container > header > nav {
  margin: 0px;
}
#account .main_container > header > nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0px;
}
#account .main_container > header > nav ul li {
  margin: 5px;
}
#account .main_container > header > nav ul li a {
  opacity: 0.7;
}
#account .main_container > header > nav ul li a:hover {
  opacity: 1;
}
#account .main_container > header > nav ul li a.active {
  opacity: 1;
  padding-bottom: 3px;
  border-bottom: 3px solid blue;
}
#account .main_container > article {
  width: 640px;
  margin: 50px auto;
}

#account #menu {
  width: 20px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  display: none;
}
#account #menu:hover {
  background: #f1f5f9;
  border-radius: 5px;
}
#account #cancel {
  position: absolute;
  width: 30px;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
}
#account #cancel:active {
  padding: 3px;
}
@media (max-width: 900px) {
  #account .main_container > article {
    width: 80%;
  }
}
@media (max-width: 700px) {
  #account #menu,
  #account #cancel {
    display: block;
  }
  #account .menu {
    /*making the aside element display on click*/
    display: block;
  }

  #account > aside {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 5;
    display: none;
  }
  #account > .main_container {
    width: 90%;
  }
}
@media (max-width: 500px) {
  #account > aside {
    width: 50%;
  }
}
@media (max-width: 400px) {
  #account > aside {
    width: 70%;
  }
}
@media (max-width: 300px) {
  #account > aside {
    width: 85%;
  }
  #account .main_container > article {
    width: 100%;
  }
}
@media (min-height: 600px) {
}
.adminNav {
  position: absolute;
  right: 0;
}
.userNav {
  right: 0;
}
.account_signing {
  display: flex;
  column-gap: 10px;
  justify-content: space-between;
  align-items: center;
}
.nav_brand {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-light .navbar-nav .nav-link {
  white-space: nowrap;
}
.motor_type {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background: white;
  column-gap: 25px;
  overflow: hidden;
  padding: 10px 50px;
  position: relative;
}
/* .motor_type > div{
  width: 120px;
  flex-shrink: 0;
} */
/* .motor_type > div > img{
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
} */
#what_we_do {
  background: white;
  margin-top: 20px;
  display: flex;
  position: relative;
  /* justify-content: center; */
  padding: 60px 0;
  flex-direction: column;
  align-items: center;
}
.what_we_do,
.what_to_do_card,
.testimonial_section {
  width: 90%;
}
.what_we_do > h1 {
  color: #20b15a;
  font-weight: 500;
}
.what_we_do > p {
  color: black;
  font-weight: 600;
  font-size: 24px;
}
.what_to_do_card {
  display: flex;
  align-items: stretch;
  /* height: 350px;
  overflow: hidden; */
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
}
.to_do_card {
  padding: 20px 15px;
  width: 18rem;
  margin-top: 2rem;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
}
.to_do_card > h4 {
  color: black;
  font-weight: 700;
  font-size: 24px;
  margin-top: 24px;
  margin-bottom: 14px;
  align-self: flex-start;
}
.to_do_card > p {
  color: black;
  font-size: 15px;
  font-weight: 900;
}
.to_do_card > button {
  color: black;
  font-size: 16px;
  font-weight: 900;
  border: 0;
  cursor: pointer;
  margin-top: auto;
}
.to_do_card > button > img {
  margin-left: 10px;
}
.to_do_card > .image {
  padding: 25px;
  background: #d7f5dc;
  border-radius: 15px;
  width: fit-content;
  text-align: center;
}
.prev {
  padding: 15px;
  border: 1px solid black;
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.change_button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  position: absolute;
  top: 10px;
  right: 60px;
}
.prev:hover {
  background: #d7f5dc;
}
#why_choose_us {
  background: white;
  display: flex;
  padding: 60px 0;
  flex-direction: column;
  align-items: center;
}
.why_section4 {
  background: #fafffb;
  display: flex;
  padding: 60px 0;
  align-items: center;
  justify-content: center;
}
.section4 {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section4 > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section4 > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 30px;
  border-right: 1px solid #c4c4c480;
}
.section4 > div > h2 {
  color: #20b15a;
  font-weight: 900;
}
.black {
  color: black;
}
.lowercase {
  text-transform: lowercase;
}
.no_border {
  border: 0 !important;
}
.portfolio {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
  flex-shrink: 0;
}
.portfolio > div {
  width: 50%;
  height: fit-content;
}
.portfolio > div > div {
  padding: 30px;
}
.portfolio_title {
  font-size: 18px;
  font-weight: 800;
  margin: 20px 0 30px 0;
}
.portfolio_body {
  font-size: 12px;
  font-weight: 900;
}
.big_image_card > img,
.small_image_card > img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.buy_now {
  border: 0;
  background: #20b15a;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
}
.testimonia {
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: fit-content;
  flex-shrink: 0;
  padding: 30px;
  width: 25rem;
}
.testimonia > p {
  font-weight: 900;
  font-size: 14px;
  flex: 0 0 auto;
}
.testimonial_section {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 350px;
  column-gap: 20px;
}
.testimonial_profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.testimonial_profile_image {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
}
.testimonial_profile_image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.tes_name {
  font-weight: 500;
  font-size: 16px;
}
.tes_title {
  font-weight: 900;
  font-size: 14px;
}
.team_card {
  flex-shrink: 0;
  width: 10rem;
  background: #d7f5dc;
}
.card-body > .p {
  font-size: 14px;
  font-weight: 500;
}
.card-body > .h5 {
  font-size: 16px;
  font-weight: 800;
}
.team_card_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}
.text_center {
  text-align: center;
}
.get_a_quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-bottom: 60px;
}
.what_we_do > .send_message {
  color: #8b8b8b;
  font-size: 14px;
  font-weight: normal;
}
.quote_form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quote_input {
  border-radius: 10px;
  border: 1px solid #000;
  width: 40%;
  font-size: 14px;
}

.login_input {
  border-radius: 8px;
  border: 1px solid #000;
  width: 100%;
  font-size: 14px;
  display: block;
}
.act_btn {
  width: 100%;
  border-radius: 10px;
  padding: 15px;
}
.privacy {
  color: #20b15a;
}
.checkdiv {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.checkdiv > label {
  margin-bottom: 0;
}
.login {
  text-align: center;
}
.footer_row {
  width: 100%;
  justify-content: space-between;
}
.footer_log {
  color: black !important;
  font-weight: 900 !important;
  font-size: 35px !important;
}
.footer_text {
  color: black !important;
}
.handles {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.carousel-indicators {
  display: none;
}
.contact_body {
  font-weight: 400;
  font-size: 24px;
}
.footerwhatsapp {
  position: absolute;
  top: -9rem;
  right: 2rem;
  width: 7rem;
  margin-top: 50px;
}
h2 > .google {
  width: 3rem !important ;
}
.google_h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  border: 1px solid black;
  border-radius: 50px;
  padding: 10px;
}
.line_or {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.line_or > hr {
  width: 43%;
  border: 1px solid black;
}
.previos {
  position: absolute;
  left: 20px;
  border: 1px solid black;
  border-radius: 100%;
  width: 30px !important;
  height: 30px !important;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.next {
  position: absolute;
  right: 20px;
  border: 1px solid black;
  border-radius: 100%;
  width: 30px !important;
  height: 30px !important;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.previos > img,
.next > img {
  width: 10px !important;
}
.partner {
  width: 98%;
  display: flex;
  height: 4rem;
  background: white;
  column-gap: 35px;
  overflow: hidden;
  padding: 10px 0px;
  position: relative;
  justify-content: center;
}
.partner > div {
  width: 120px;
  flex-shrink: 0;
}
.partner > div > img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}
.card_iage_container {
  width: 100%;
  height: 11rem;
}
.team_image {
  height: 100%;
  object-fit: fill;
  object-position: center;
}
.portfolio_container {
  display: flex;
  column-gap: 20px;
  width: 90%;
  overflow: hidden;
}
.big_image_card > img {
  height: 31rem;
}
.small_image_card > img {
  height: 20.4rem;
}

.show-1400 {
  display: none;
}

@media screen and (max-width: 1400px) {
  .show-1400 {
    display: flex !important;
  }
}

@media screen and (max-width: 500px) {
  .to_do_card {
    width: 100vw !important;
    align-items: center;
  }
  .to_do_card > h4 {
    align-self: center !important;
  }
}
